h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.container > div {
  border-radius: 12px;
  padding: 10px;
}

.container h2 {
  font-size: 1.5rem;
  text-align: left;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  text-align: center;
}

li img {
  width: 64px;
  height: 64px;
}
