.title {
  text-align: center;
  margin-bottom: 0px;
}

.container-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.items-grid {
  flex: 2;
  padding: 10px;
}

.store-grid {
  flex: 1;
  padding: 10px;
}

.items-grid ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  gap: 5px;
}

.item-card {
  text-align: center;
  margin-bottom: 20px;
}

.item-card img {
  width: 100%;
  height: auto;
  max-width: 85px;
  display: block;
  margin: 0 auto 5px auto;
}
